{% extends 'adventure_creator/index.html' %}
{% block content %}
<h1>CREATE ROOM</h1>

{% if info %}
  <h2>{{info}}</h2>
{% endif %}

  <form id="create_room_form" method="post" action="/create_room/">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
          {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %} <br>
          {{ field.name }}
          {{ field.errors }}
          {{ field.help_text }}
          {{ field }}
      {% endfor %}
      </br>
      <input type="submit" name="submit" value="Add Room to Adventure" />
  </form>

{% endblock %}